<a href="https://colab.research.google.com/github/gabrielods/repo01/blob/master/Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Variáveis - são espaços na memória do computador
# que armazenam dados para serem processados

# Uma variável tem um nome que a identifica no sistema
# Uma variável pode ou não ter um valor
# Uma variável sempre terá um tipo de dados relacionados a ela.

In [1]:
# Exemplo de declaração de variáveis
x = 10
print(x)

10

In [2]:
print(10) # literal

10

In [3]:
print(x + x)

20

In [4]:
print(x / x)

1.0

In [ ]:
# float é um tipo de dados em computação que representa números Reais
# ou seja, com casas decimais

In [6]:
# Descobrir tipos de dados
x = 10 # inteiro (int)
y = 2.3 # real (float)

print(x)
print(y)

10
2.3

In [7]:
print(x, '\n', y)

10
 2.3

In [8]:
# Verificando o tipo de uma variável
type(x)

int

In [9]:
type(y)

float

In [11]:
# Vamos falar de Strings (texto)
# Ex.: Edson Melo de Souza
# Ex.: Ed Wander Alves da Silva

# Para que um valor seja considerado como uma String,
# ele deve estar entre ASPAS
print("Ed Wander Alves da Silva") # literal

Ed Wander Alves da Silva

In [15]:
print("Edson Melo de Souza") # literal

nome = 'Tio Patinhas'

Edson Melo de Souza

In [16]:
print(nome * 2)

Tio PatinhasTio Patinhas

In [20]:
nome = 'Tio Patinhas'
print('Zé Carioca' + '\t' + nome)

Zé Carioca	Tio Patinhas

In [24]:
# O comando print() tem várias formas de trabalhar
print('Nathalia', 'Giovanna', 'de', 'Oliveira')
print('Nathalia ' + 'Giovanna de', 'Oliveira')

Nathalia Giovanna de Oliveira
Nathalia Giovanna de Oliveira

In [25]:
nome = 'Edson Melo'
idade = 49
complemento = 'anos'

print(nome, 'tem', idade, complemento)

Edson Melo tem 49 anos

In [27]:
print(idade, complemento)

49 anos

In [29]:
# Convertendo um tipo de inteiro para String
print(str(idade) + ' ' + complemento)

49 anos

In [32]:
n1 = '10'
n2 = 20
print(int(n1) + n2)

30

In [40]:
n1 = 10.2
n2 = 8

print(n1 + n2)
print(int(n1) + n2)

18.2
18

In [42]:
# Vamos melhorar a nossa formatação de saída (Máscara de Formatação)
formato = '{0} {1} {2}'
print(formato.format(nome, idade, complemento))

Edson Melo 49 anos

In [ ]:
# Adição +
# Subtração -
# Multiplicação *
# Divisão /

# Exponenciação ** (potência)
# Parte Inteira //
# Módulo %

In [43]:
n1 = 5
n2 = 2

# Potência
print(n1 ** n2) # 5 elevado a 2

25

In [45]:
# Parte Inteira
print(n1 // n2)

2

In [46]:
# Resto da Divisão (Módulo)
n1 = 2
n2 = 3
print(n1 / n2)
print(n1 % n2)

0.6666666666666666
2

In [47]:
# Para que serve o Módulo?
print(6 % 2)

0

In [48]:
# Operadores Relacionais
# São os operadores de comparação
# Maior, menor, menor igual, maior igual, diferente
print(10 > 3)

True

In [51]:
# <> esse símbolo é conhecido como Diamond (Diamante)
# ! a exclamação significa negação
print(10 != 8)

True

In [52]:
# O símbolo "=" é uma ATRIBUIÇÃO
# Enquanto para comparar uma igualdade deve-se usar o "=="
print(10 == 8)

False

In [55]:
# Agora o cérebro vai fritar, kkk
# Em algumas ocasiões especiais, precisamos saber se a igualdade é, de fato,
# igual tanto em valor quanto ao tipo de dado.

print(10 > 2)

True

In [58]:
n1 = 10
n2 = 10.0
print(n1 == n2)

True

In [ ]:
# Operadores Lógicos
# AND significa "e"
# OR "ou"
# NOT "não"

n1 = 10
n2 = 10.0
print((n1 == n2) and (type(n1) == type(n2)))

In [61]:
n1 = 10
n2 = 10.0
print( not( (n1 == n2) and (type(n1) == type(n2))))

True

In [ ]:
# Conversões
#   Absoluto abs(x)
#   Converter para Inteiro: int(x)
#   Converter para Real: float(x)
#   Converter para String: str(x)

In [62]:
print(abs(10.543))
print(abs(-10.543))

10.543
10.543

In [65]:
# Como usar o teclado em Python
entrada1 = input("Digite um valor")
entrada2 = input("Digite um valor")
print(entrada, entrada2)

Digite um valor10
Digite um valor20
10 20